<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>mvcservlet</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/web_student_tracker</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>studentmvc</servlet-name>
        <servlet-class>tags.StudentControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mvc</servlet-name>
        <servlet-class>tags.MVCServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentmvc</servlet-name>
        <url-pattern>/StudentControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mvc</servlet-name>
        <url-pattern>/mvcservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
